.container {
  display: flex;
}

.list-item {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: rgb(76, 173, 206);
  list-style: none;
  margin: 5px;
  color: black;
}

.button-primary,
.input-primary {
  width: 200px;
  color: black;
  padding: 14px 20px;
  margin: 20px 0;
  border: 1px solid rgb(100, 99, 99);
  border-radius: 4px;
  cursor: pointer;
  background-color: lightgray;
  margin-left: 10px;
}
.groceries-input input {
  padding-left: 25px;
  padding-right: 0;
  width: 230px;
  background-color: white;
}
.groceries-input input {
  border: 1px solid lightgray;
}

.groceries-list,
.shopping-basket {
  width: 50%;
  padding: 20px;
}

.groceries-list ul,
.shopping-basket ul {
  padding: 0;
}

.app {
  text-align: center;
}

.groceries-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  color: white;
}

.shopping-basket .list-item {
  background: rgb(158, 204, 219);
}
.shopping-basket .list-item:nth-child(even) {
  background: rgb(196, 248, 248);
}

.groceries-list .list-item {
  background: lightpink;
}
.groceries-list .list-item:nth-child(odd) {
  background: lightcoral;
}

.shopping-basket h1 {
  margin-left: 8px;
}
